defaultPodOptions:
  imagePullSecrets:
    - name: cr-spydersoft-github

controllers:
  main:
    enabled: true
    type: deployment
    strategy: Recreate
    containers:
      main:
        image:
          repository: ghcr.io/spyder007/unifi-client
          pullPolicy: IfNotPresent

persistence:
  config-js:
    enabled: true
    type: configMap
    name: unifi-client-config-js
    globalMounts:
      - path: /usr/share/nginx/html/config.js
        subPath: config.js

service:
  main:
    controller: main
    ports:
      http:
        port: 80
        targetPort: 8080

route:
  main:
    enabled: true
    parentRefs:
      - name: main
        namespace: envoy-gateway-system
        group: gateway.networking.k8s.io
        kind: Gateway
    hostnames:
      - test.mattgerega.net
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - identifier: main
            port: 8080
