defaultPodOptions:
  imagePullSecrets:
    - name: cr-spydersoft-github

controllers:
  main:
    enabled: true
    containers:
      main:
        image:
          repository: ghcr.io/spyder007/unifi-ipmanager
          pullPolicy: IfNotPresent
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /livez
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /readyz
                port: 8080
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
 
service:
  main:
    enabled: true
    controller: main
    nameOverride: main
    primary: true
    type: ClusterIP
    ports:
      http:
        port: 80
        targetPort: 8080

route:
  main:
    enabled: true
    parentRefs:
      - name: main
        namespace: envoy-gateway-system
        group: gateway.networking.k8s.io
        kind: Gateway
    hostnames:
      - test.mattgerega.net
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /unifi/ipmanager
        filters:
          - type: URLRewrite
            urlRewrite:
              path:
                type: ReplacePrefixMatch
                replacePrefixMatch: /
        backendRefs:
          - identifier: main
            port: http
              
env_name: dev
