commonConfigMap:
  Telemetry__Trace__Otlp__Endpoint: "{{ .Values.alloy_otlp_collector}}"
  Telemetry__Log__Otlp__Endpoint: "{{ .Values.alloy_otlp_collector}}"
  Telemetry__Metrics__Otlp__Endpoint: "{{ .Values.alloy_otlp_collector}}"
  Identity__Authority : "https://auth.{{ .Values.environment_hostname }}"
  Logging__LogLevel__Default: "Warning"
  AllowedOrigins__0: "https://uni.{{ .Values.environment_hostname }}"
  {{ if eq .Values.env_name "test"  }}
  AllowedOrigins__1: "http://localhost:3000"
  {{ end }}