image:
  repository: ghcr.io/spyder007/ha-frontend
  pullPolicy: IfNotPresent

strategy:
  type: Recreate

imagePullSecrets: 
  - name: cr-spydersoft-github

service:
  main:
    ports:
      http:
        port: 80
        targetPort: 8080

route:
  main:
    enabled: true
    parentRefs:
      - name: main
        namespace: envoy-gateway-system
        group: gateway.networking.k8s.io
        kind: Gateway
    hostnames:
      - test.mattgerega.net
    rules:
      - matches:
          - path:
              type: PathPrefix
              value: /
        backendRefs:
          - identifier: main
            port: 80